/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wow-wow-test {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

h1 {
	text-align: center;
}

.pokes-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-between;

	.poke {
		width: 23%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
